@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #e4e9f7;
    
}
.container{
    /* background-image: url("../bug.jpeg");
    max-width: 100%;
    width: 1000vh;
    height: 100vh;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: rgb(233, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.box{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    /* box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.79),
                0 32px 64px -48px rgba(0,0,0,0.5); */
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e9f784;
    margin-bottom: 10px;
    text-align: center;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.department {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #fff;
    border-radius: 5px;
    
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn{
    height: 35px;
    background: rgb(28 58 182 / 81%);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    height: 50px;
    width: 400px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}
.links a{
    text-decoration: none;
    padding-left: 98px;

}
.rem-for{
    font-size: .9em;
    color: #000000e8;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}
.rem-for label input {
    accent-color: #000;
    margin-right: 3px;
}
.rem-for a {
    color: #000;
    text-decoration: none;
}
.sci {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sci i {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;

}
.sci i:hover{
    background: rgb(28 58 182 / 81%);
}


/********* Home *****************/
.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    min-height: 100vh;

}
.main-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 170px;

}
.main-box .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
.bottom{
    width: 100%;
    margin-top: 40px;
}
.boot{
    width: 100%;
    margin-top: 40px;
}
.bot{
    width: 100%;
    margin-top: 40px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}


.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
